cfn_template/CFNCloudTrailAnalytics.yaml
Metadata:
  cdk_nag:
    rules_to_suppress:
      - reason: The IAM entity contains wildcard permissions and it needs them.
        id: AwsSolutions-IAM5
      - reason: The Step Function does not log ALL events to CloudWatch Logs.
        id: AwsSolutions-SF1
      - reason: The Step Function does not have X-Ray tracing enabled.
        id: AwsSolutions-SF2
      - reason: temp permit managed policies in IAM entities
        id: AwsSolutions-IAM4
      - reason: The CDK is out of date.
        id: AwsSolutions-L1
      - reason: Step Function does not have an encryption enabled.
        id: AwsSolutions-StepFunctions1
      - reason: The IAM entity contains wildcard permissions and does not have a cdk-nag rule suppression with evidence for those permission.
        id: AwsSolutions-IAM5
Parameters:
  ResourcePrefix:
    Type: String
    Default: cloudtrail
    AllowedPattern: "[a-z0-9-]+"
    ConstraintDescription: Only lowercase letters, numbers, and hyphens allowed
    Description: Prefix for resource names to allow multiple deployments
  Environment:
    Type: String
    Default: dev
    Description: Environment name (e.g., dev, prod)
  LogExpirationDays:
    Type: Number
    Default: 14
    Description: Number of days to retain CloudTrail logs
  NumberOfWorkers:
    Type: Number
    Default: 5
    Description: Number of Glue workers
  AssetsBucket:
    Type: String
    Description: S3 bucket containing Lambda code and Glue scripts
Resources:
  CloudTrailLogsKey72128003:
    Type: AWS::KMS::Key
    Properties:
      EnableKeyRotation: true
      KeyPolicy:
        Statement:
          - Action: kms:*
            Effect: Allow
            Principal:
              AWS:
                Fn::Join:
                  - ""
                  - - "arn:"
                    - Ref: AWS::Partition
                    - ":iam::"
                    - Ref: AWS::AccountId
                    - :root
            Resource: "*"
          - Action: kms:*
            Effect: Allow
            Principal:
              AWS:
                Fn::Join:
                  - ""
                  - - "arn:"
                    - Ref: AWS::Partition
                    - ":iam::"
                    - Ref: AWS::AccountId
                    - :root
            Resource: "*"
            Sid: AllowRootAccountFullAccess
          - Action:
              - kms:GenerateDataKey*
              - kms:DescribeKey
            Condition:
              StringLike:
                kms:EncryptionContext:aws:cloudtrail:arn:
                  Fn::Join:
                    - ""
                    - - "arn:aws:cloudtrail:"
                      - Ref: AWS::Region
                      - ":"
                      - Ref: AWS::AccountId
                      - :trail/*
            Effect: Allow
            Principal:
              Service: cloudtrail.amazonaws.com
            Resource: "*"
            Sid: AllowCloudTrailGenerateDataKey
          - Action:
              - kms:Decrypt
              - kms:ReEncryptFrom
            Condition:
              StringEquals:
                kms:CallerAccount:
                  Ref: AWS::AccountId
              StringLike:
                kms:EncryptionContext:aws:cloudtrail:arn:
                  Fn::Join:
                    - ""
                    - - "arn:aws:cloudtrail:"
                      - Ref: AWS::Region
                      - ":"
                      - Ref: AWS::AccountId
                      - :trail/*
            Effect: Allow
            Principal:
              Service: cloudtrail.amazonaws.com
            Resource: "*"
            Sid: AllowCloudTrailDecrypt
        Version: "2012-10-17"
    UpdateReplacePolicy: Retain
    DeletionPolicy: Retain
    Metadata:
      aws:cdk:path: CloudTrailWithKmsStack/CloudTrailLogsKey/Resource
  CloudTrailLogsKeyAliasF267A41C:
    Type: AWS::KMS::Alias
    Properties:
      AliasName:
        Fn::Join:
          - ""
          - - alias/
            - Ref: ResourcePrefix
            - "-"
            - Ref: Environment
            - -key
      TargetKeyId:
        Fn::GetAtt:
          - CloudTrailLogsKey72128003
          - Arn
    Metadata:
      aws:cdk:path: CloudTrailWithKmsStack/CloudTrailLogsKey/Alias/Resource
  CloudTrailLogsBucketF4E95F70:
    Type: AWS::S3::Bucket
    Properties:
      BucketEncryption:
        ServerSideEncryptionConfiguration:
          - ServerSideEncryptionByDefault:
              KMSMasterKeyID:
                Fn::GetAtt:
                  - CloudTrailLogsKey72128003
                  - Arn
              SSEAlgorithm: aws:kms
      BucketName:
        Fn::Join:
          - ""
          - - Ref: ResourcePrefix
            - "-"
            - Ref: Environment
            - "-"
            - Ref: AWS::AccountId
            - -logs
      LifecycleConfiguration:
        Rules:
          - ExpirationInDays: 14
            Prefix: athena_output
            Status: Enabled
          - ExpirationInDays: 14
            Prefix: raw-cloudtrail-logs
            Status: Enabled
          - ExpirationInDays: 14
            Prefix: spark-ui
            Status: Enabled
      OwnershipControls:
        Rules:
          - ObjectOwnership: BucketOwnerEnforced
      PublicAccessBlockConfiguration:
        BlockPublicAcls: true
        BlockPublicPolicy: true
        IgnorePublicAcls: true
        RestrictPublicBuckets: true
      Tags:
        - Key: aws-cdk:auto-delete-objects
          Value: "true"
      VersioningConfiguration:
        Status: Enabled
    UpdateReplacePolicy: Delete
    DeletionPolicy: Delete
    Metadata:
      aws:cdk:path: CloudTrailWithKmsStack/CloudTrailLogsBucket/Resource
  CloudTrailLogsBucketPolicyF40858DB:
    Type: AWS::S3::BucketPolicy
    Properties:
      Bucket:
        Ref: CloudTrailLogsBucketF4E95F70
      PolicyDocument:
        Statement:
          - Action: s3:*
            Condition:
              Bool:
                aws:SecureTransport: "false"
            Effect: Deny
            Principal:
              AWS: "*"
            Resource:
              - Fn::GetAtt:
                  - CloudTrailLogsBucketF4E95F70
                  - Arn
              - Fn::Join:
                  - ""
                  - - Fn::GetAtt:
                        - CloudTrailLogsBucketF4E95F70
                        - Arn
                    - /*
          - Action:
              - s3:PutBucketPolicy
              - s3:GetBucket*
              - s3:List*
              - s3:DeleteObject*
            Effect: Allow
            Principal:
              AWS:
                Fn::GetAtt:
                  - CustomS3AutoDeleteObjectsCustomResourceProviderRole3B1BD092
                  - Arn
            Resource:
              - Fn::GetAtt:
                  - CloudTrailLogsBucketF4E95F70
                  - Arn
              - Fn::Join:
                  - ""
                  - - Fn::GetAtt:
                        - CloudTrailLogsBucketF4E95F70
                        - Arn
                    - /*
          - Action: s3:GetBucketAcl
            Effect: Allow
            Principal:
              Service: cloudtrail.amazonaws.com
            Resource:
              Fn::GetAtt:
                - CloudTrailLogsBucketF4E95F70
                - Arn
            Sid: AllowCloudTrailGetBucketAcl
          - Action: s3:PutObject
            Condition:
              StringEquals:
                s3:x-amz-acl: bucket-owner-full-control
            Effect: Allow
            Principal:
              Service: cloudtrail.amazonaws.com
            Resource:
              Fn::Join:
                - ""
                - - Fn::GetAtt:
                      - CloudTrailLogsBucketF4E95F70
                      - Arn
                  - /raw-cloudtrail-logs/AWSLogs/
                  - Ref: AWS::AccountId
                  - /*
            Sid: AllowCloudTrailPutObject
          - Action: s3:GetBucketAcl
            Effect: Allow
            Principal:
              Service: cloudtrail.amazonaws.com
            Resource:
              Fn::GetAtt:
                - CloudTrailLogsBucketF4E95F70
                - Arn
          - Action: s3:PutObject
            Condition:
              StringEquals:
                s3:x-amz-acl: bucket-owner-full-control
            Effect: Allow
            Principal:
              Service: cloudtrail.amazonaws.com
            Resource:
              Fn::Join:
                - ""
                - - Fn::GetAtt:
                      - CloudTrailLogsBucketF4E95F70
                      - Arn
                  - /raw-cloudtrail-logs/AWSLogs/
                  - Ref: AWS::AccountId
                  - /*
        Version: "2012-10-17"
    Metadata:
      aws:cdk:path: CloudTrailWithKmsStack/CloudTrailLogsBucket/Policy/Resource
  CloudTrailLogsBucketAutoDeleteObjectsCustomResource00A8BB98:
    Type: Custom::S3AutoDeleteObjects
    Properties:
      ServiceToken:
        Fn::GetAtt:
          - CustomS3AutoDeleteObjectsCustomResourceProviderHandler9D90184F
          - Arn
      BucketName:
        Ref: CloudTrailLogsBucketF4E95F70
    DependsOn:
      - CloudTrailLogsBucketPolicyF40858DB
    UpdateReplacePolicy: Delete
    DeletionPolicy: Delete
    Metadata:
      aws:cdk:path: CloudTrailWithKmsStack/CloudTrailLogsBucket/AutoDeleteObjectsCustomResource/Default
  CustomS3AutoDeleteObjectsCustomResourceProviderRole3B1BD092:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
      ManagedPolicyArns:
        - Fn::Sub: arn:${AWS::Partition}:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
    Metadata:
      aws:cdk:path: CloudTrailWithKmsStack/Custom::S3AutoDeleteObjectsCustomResourceProvider/Role
  CustomS3AutoDeleteObjectsCustomResourceProviderHandler9D90184F:
    Type: AWS::Lambda::Function
    Properties:
      Code:
        S3Bucket:
          Fn::Sub: cdk-hnb659fds-assets-${AWS::AccountId}-${AWS::Region}
        S3Key: faa95a81ae7d7373f3e1f242268f904eb748d8d0fdd306e8a6fe515a1905a7d6.zip
      Timeout: 900
      MemorySize: 128
      Handler: index.handler
      Role:
        Fn::GetAtt:
          - CustomS3AutoDeleteObjectsCustomResourceProviderRole3B1BD092
          - Arn
      Runtime:
        Fn::FindInMap:
          - LatestNodeRuntimeMap
          - Ref: AWS::Region
          - value
      Description:
        Fn::Join:
          - ""
          - - "Lambda function for auto-deleting objects in "
            - Ref: CloudTrailLogsBucketF4E95F70
            - " S3 bucket."
    DependsOn:
      - CustomS3AutoDeleteObjectsCustomResourceProviderRole3B1BD092
    Metadata:
      aws:cdk:path: CloudTrailWithKmsStack/Custom::S3AutoDeleteObjectsCustomResourceProvider/Handler
      aws:asset:path: asset.faa95a81ae7d7373f3e1f242268f904eb748d8d0fdd306e8a6fe515a1905a7d6
      aws:asset:property: Code
  GlueJobRoleF1B69418:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service: glue.amazonaws.com
        Version: "2012-10-17"
      Policies:
        - PolicyDocument:
            Statement:
              - Action:
                  - s3:GetObject
                  - s3:PutObject
                  - s3:ListBucket
                  - s3:DeleteObject
                Effect: Allow
                Resource:
                  - Fn::GetAtt:
                      - CloudTrailLogsBucketF4E95F70
                      - Arn
                  - Fn::Join:
                      - ""
                      - - Fn::GetAtt:
                            - CloudTrailLogsBucketF4E95F70
                            - Arn
                        - /*
              - Action: s3:ListAllMyBuckets
                Effect: Allow
                Resource: "*"
              - Action:
                  - kms:Decrypt
                  - kms:DescribeKey
                  - kms:GenerateDataKey
                Effect: Allow
                Resource:
                  Fn::GetAtt:
                    - CloudTrailLogsKey72128003
                    - Arn
            Version: "2012-10-17"
          PolicyName: glue-job-policy
      RoleName:
        Fn::Join:
          - ""
          - - Ref: ResourcePrefix
            - -glue-
            - Ref: Environment
    Metadata:
      aws:cdk:path: CloudTrailWithKmsStack/GlueJobRole/Resource
  GlueJobRoleDefaultPolicy94EFA0CF:
    Type: AWS::IAM::Policy
    Properties:
      PolicyDocument:
        Statement:
          - Action:
              - glue:GetTable
              - glue:GetTables
              - glue:BatchCreatePartition
              - glue:BatchDeletePartition
              - glue:BatchGetPartition
              - glue:UpdatePartition
              - glue:UpdateTable
              - glue:GetDatabase
              - glue:CreateDatabase
              - glue:CreateTable
            Effect: Allow
            Resource:
              - Fn::Join:
                  - ""
                  - - "arn:aws:glue:"
                    - Ref: AWS::Region
                    - ":"
                    - Ref: AWS::AccountId
                    - :database/cloudtrail_logs
              - Fn::Join:
                  - ""
                  - - "arn:aws:glue:"
                    - Ref: AWS::Region
                    - ":"
                    - Ref: AWS::AccountId
                    - :catalog
              - Fn::Join:
                  - ""
                  - - "arn:aws:glue:"
                    - Ref: AWS::Region
                    - ":"
                    - Ref: AWS::AccountId
                    - :table/cloudtrail_logs/*
              - Fn::Join:
                  - ""
                  - - "arn:aws:glue:"
                    - Ref: AWS::Region
                    - ":"
                    - Ref: AWS::AccountId
                    - :database/default
          - Action: iam:PassRole
            Effect: Allow
            Resource:
              Fn::GetAtt:
                - GlueJobRoleF1B69418
                - Arn
          - Action:
              - logs:CreateLogGroup
              - logs:CreateLogStream
              - logs:PutLogEvents
            Effect: Allow
            Resource:
              - Fn::Join:
                  - ""
                  - - "arn:aws:logs:"
                    - Ref: AWS::Region
                    - ":"
                    - Ref: AWS::AccountId
                    - :log-group:/aws-glue/jobs*
              - Fn::Join:
                  - ""
                  - - "arn:aws:logs:"
                    - Ref: AWS::Region
                    - ":"
                    - Ref: AWS::AccountId
                    - :log-group:/aws-glue/crawlers*
          - Action:
              - s3:GetObject*
              - s3:GetBucket*
              - s3:List*
              - s3:DeleteObject*
              - s3:PutObject
              - s3:PutObjectLegalHold
              - s3:PutObjectRetention
              - s3:PutObjectTagging
              - s3:PutObjectVersionTagging
              - s3:Abort*
            Effect: Allow
            Resource:
              - Fn::GetAtt:
                  - CloudTrailLogsBucketF4E95F70
                  - Arn
              - Fn::Join:
                  - ""
                  - - Fn::GetAtt:
                        - CloudTrailLogsBucketF4E95F70
                        - Arn
                    - /spark-ui/*
          - Action:
              - kms:Decrypt
              - kms:DescribeKey
              - kms:Encrypt
              - kms:ReEncrypt*
              - kms:GenerateDataKey*
            Effect: Allow
            Resource:
              Fn::GetAtt:
                - CloudTrailLogsKey72128003
                - Arn
          - Action:
              - s3:GetObject*
              - s3:GetBucket*
              - s3:List*
            Effect: Allow
            Resource:
              - Fn::Join:
                  - ""
                  - - "arn:"
                    - Ref: AWS::Partition
                    - ":s3:::"
                    - Fn::Sub: cdk-hnb659fds-assets-${AWS::AccountId}-${AWS::Region}
              - Fn::Join:
                  - ""
                  - - "arn:"
                    - Ref: AWS::Partition
                    - ":s3:::"
                    - Fn::Sub: cdk-hnb659fds-assets-${AWS::AccountId}-${AWS::Region}
                    - /*
        Version: "2012-10-17"
      PolicyName: GlueJobRoleDefaultPolicy94EFA0CF
      Roles:
        - Ref: GlueJobRoleF1B69418
    Metadata:
      aws:cdk:path: CloudTrailWithKmsStack/GlueJobRole/DefaultPolicy/Resource
  CloudTrailLoggingGlueJob843116E4:
    Type: AWS::Glue::Job
    Properties:
      Command:
        Name: glueetl
        PythonVersion: "3"
        ScriptLocation:
          Fn::Join:
            - ""
            - - s3://
              - Ref: AssetsBucket
              - /glue/cloudtrail_log_processing.py
      DefaultArguments:
        --job-language: python
        --enable-spark-ui: "true"
        --spark-event-logs-path:
          Fn::Join:
            - ""
            - - s3://
              - Ref: CloudTrailLogsBucketF4E95F70
              - /spark-ui/
        --input_path:
          Fn::Join:
            - ""
            - - s3://
              - Ref: ResourcePrefix
              - "-"
              - Ref: Environment
              - "-"
              - Ref: AWS::AccountId
              - -logs/raw-cloudtrail-logs/
        --output_path:
          Fn::Join:
            - ""
            - - s3://
              - Ref: ResourcePrefix
              - "-"
              - Ref: Environment
              - "-"
              - Ref: AWS::AccountId
              - -logs/processed-cloudtrail-logs/
        --account_id:
          Ref: AWS::AccountId
        --region:
          Ref: AWS::Region
        --database_name: cloudtrail_logs
        --crawler_role:
          Fn::GetAtt:
            - GlueJobRoleF1B69418
            - Arn
        --log_level: INFO
        --datalake-formats: iceberg
        --retention_days_for_processed_logs:
          Ref: LogExpirationDays
      ExecutionProperty:
        MaxConcurrentRuns: 25
      GlueVersion: "4.0"
      MaxRetries: 2
      Name:
        Fn::Join:
          - ""
          - - Ref: ResourcePrefix
            - -glue-job
      NumberOfWorkers:
        Ref: NumberOfWorkers
      Role:
        Fn::GetAtt:
          - GlueJobRoleF1B69418
          - Arn
      Timeout: 600
      WorkerType: G.1X
    Metadata:
      aws:cdk:path: CloudTrailWithKmsStack/CloudTrailLoggingGlueJob/Resource
  CountCloudTrailFilesLambdaCountCloudTrailFilesLambdaRole845D5ED4:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
        Version: "2012-10-17"
      Description:
        Fn::Join:
          - ""
          - - "role "
            - Ref: ResourcePrefix
            - "-"
            - Ref: Environment
            - -count-files-lambda
      ManagedPolicyArns:
        - Fn::Join:
            - ""
            - - "arn:"
              - Ref: AWS::Partition
              - :iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyDocument:
            Statement:
              - Action: s3:ListBucket
                Effect: Allow
                Resource:
                  - Fn::Join:
                      - ""
                      - - "arn:aws:s3:::"
                        - Ref: ResourcePrefix
                        - "-"
                        - Ref: Environment
                        - "-"
                        - Ref: AWS::AccountId
                        - -logs
                  - Fn::Join:
                      - ""
                      - - "arn:aws:s3:::"
                        - Ref: ResourcePrefix
                        - "-"
                        - Ref: Environment
                        - "-"
                        - Ref: AWS::AccountId
                        - -logs/*
            Version: "2012-10-17"
          PolicyName: lambda_policy
    Metadata:
      aws:cdk:path: CloudTrailWithKmsStack/CountCloudTrailFilesLambda/CountCloudTrailFilesLambda-Role/Resource
  CountCloudTrailFilesLambda644EE3FF:
    Type: AWS::Lambda::Function
    Properties:
      Code:
        S3Bucket:
          Ref: AssetsBucket
        S3Key: lambda/count-files.zip
      FunctionName:
        Fn::Join:
          - ""
          - - Ref: ResourcePrefix
            - "-"
            - Ref: Environment
            - -count-files-lambda
      Handler: lambda-handler.lambda_handler
      MemorySize: 512
      Role:
        Fn::GetAtt:
          - CountCloudTrailFilesLambdaCountCloudTrailFilesLambdaRole845D5ED4
          - Arn
      Runtime: python3.13
      Timeout: 900
    DependsOn:
      - CountCloudTrailFilesLambdaCountCloudTrailFilesLambdaRole845D5ED4
    Metadata:
      aws:cdk:path: CloudTrailWithKmsStack/CountCloudTrailFilesLambda/CountCloudTrailFilesLambda/Resource
      aws:asset:path: asset.81056ceea4464f2fa6c84c3dc4eaa3ce26f9aefb4b883a1189ef56a90dfbbc76
      aws:asset:is-bundled: false
      aws:asset:property: Code
  GetLastDaysCloudTrailLambdaGetLastDaysCloudTrailLambdaRoleC7355965:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
        Version: "2012-10-17"
      Description:
        Fn::Join:
          - ""
          - - "role "
            - Ref: ResourcePrefix
            - "-"
            - Ref: Environment
            - -last-days-lambda
      ManagedPolicyArns:
        - Fn::Join:
            - ""
            - - "arn:"
              - Ref: AWS::Partition
              - :iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyDocument:
            Statement:
              - Action: s3:ListBucket
                Effect: Allow
                Resource:
                  - Fn::Join:
                      - ""
                      - - "arn:aws:s3:::"
                        - Ref: ResourcePrefix
                        - "-"
                        - Ref: Environment
                        - "-"
                        - Ref: AWS::AccountId
                        - -logs
                  - Fn::Join:
                      - ""
                      - - "arn:aws:s3:::"
                        - Ref: ResourcePrefix
                        - "-"
                        - Ref: Environment
                        - "-"
                        - Ref: AWS::AccountId
                        - -logs/*
            Version: "2012-10-17"
          PolicyName: lambda_policy
    Metadata:
      aws:cdk:path: CloudTrailWithKmsStack/GetLastDaysCloudTrailLambda/GetLastDaysCloudTrailLambda-Role/Resource
  GetLastDaysCloudTrailLambdaF38D874C:
    Type: AWS::Lambda::Function
    Properties:
      Code:
        S3Bucket:
          Ref: AssetsBucket
        S3Key: lambda/last-days.zip
      Environment:
        Variables:
          ACCOUNT_ID:
            Ref: AWS::AccountId
          REGION:
            Ref: AWS::Region
      FunctionName:
        Fn::Join:
          - ""
          - - Ref: ResourcePrefix
            - "-"
            - Ref: Environment
            - -last-days-lambda
      Handler: lambda-handler.lambda_handler
      MemorySize: 512
      Role:
        Fn::GetAtt:
          - GetLastDaysCloudTrailLambdaGetLastDaysCloudTrailLambdaRoleC7355965
          - Arn
      Runtime: python3.13
      Timeout: 120
    DependsOn:
      - GetLastDaysCloudTrailLambdaGetLastDaysCloudTrailLambdaRoleC7355965
    Metadata:
      aws:cdk:path: CloudTrailWithKmsStack/GetLastDaysCloudTrailLambda/GetLastDaysCloudTrailLambda/Resource
      aws:asset:path: asset.9c648fd445ce17d858c10d9f7eb1153027ab349d42bae6e1e4bf594bd4b3f288
      aws:asset:is-bundled: false
      aws:asset:property: Code
  FindMaxFileCountCloudTrailLambdaFindMaxFileCountCloudTrailLambdaRole6D5608D2:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
        Version: "2012-10-17"
      Description:
        Fn::Join:
          - ""
          - - "role "
            - Ref: ResourcePrefix
            - "-"
            - Ref: Environment
            - -max-count-lambda
      ManagedPolicyArns:
        - Fn::Join:
            - ""
            - - "arn:"
              - Ref: AWS::Partition
              - :iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
    Metadata:
      aws:cdk:path: CloudTrailWithKmsStack/FindMaxFileCountCloudTrailLambda/FindMaxFileCountCloudTrailLambda-Role/Resource
  FindMaxFileCountCloudTrailLambdaA17D6230:
    Type: AWS::Lambda::Function
    Properties:
      Code:
        S3Bucket:
          Ref: AssetsBucket
        S3Key: lambda/max-count.zip
      FunctionName:
        Fn::Join:
          - ""
          - - Ref: ResourcePrefix
            - "-"
            - Ref: Environment
            - -max-count-lambda
      Handler: lambda-handler.lambda_handler
      MemorySize: 512
      Role:
        Fn::GetAtt:
          - FindMaxFileCountCloudTrailLambdaFindMaxFileCountCloudTrailLambdaRole6D5608D2
          - Arn
      Runtime: python3.13
      Timeout: 120
    DependsOn:
      - FindMaxFileCountCloudTrailLambdaFindMaxFileCountCloudTrailLambdaRole6D5608D2
    Metadata:
      aws:cdk:path: CloudTrailWithKmsStack/FindMaxFileCountCloudTrailLambda/FindMaxFileCountCloudTrailLambda/Resource
      aws:asset:path: asset.6af4408f5731497cd819c936f710bda264bf3fb37efbd9ae79af022b72ad3db0
      aws:asset:is-bundled: false
      aws:asset:property: Code
  CloudTrailLogsStepFunctionCloudTrailLogsStepFunctionLogGroupD3F5E32B:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName:
        Fn::Join:
          - ""
          - - /aws/stepfunctions/
            - Ref: ResourcePrefix
            - "-"
            - Ref: Environment
            - -step-function
      RetentionInDays: 30
    UpdateReplacePolicy: Retain
    DeletionPolicy: Retain
    Metadata:
      aws:cdk:path: CloudTrailWithKmsStack/CloudTrailLogsStepFunction/CloudTrailLogsStepFunctionLogGroup/Resource
  CloudTrailLogsStepFunctionnfldnagridironsrCloudTrailLogsStepFunctionE1FB6739:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service: states.amazonaws.com
        Version: "2012-10-17"
      Description:
        Fn::Join:
          - ""
          - - "role  "
            - Ref: ResourcePrefix
            - "-"
            - Ref: Environment
            - -step-function
      Policies:
        - PolicyDocument:
            Statement:
              - Action:
                  - xray:PutTraceSegments
                  - xray:PutTelemetryRecords
                  - xray:GetSamplingRules
                  - xray:GetSamplingTargets
                Effect: Allow
                Resource: "*"
              - Action:
                  - logs:CreateLogDelivery
                  - logs:GetLogDelivery
                  - logs:UpdateLogDelivery
                  - logs:DeleteLogDelivery
                  - logs:ListLogDeliveries
                  - logs:PutResourcePolicy
                  - logs:DescribeResourcePolicies
                  - logs:DescribeLogGroups
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Effect: Allow
                Resource: "*"
              - Action:
                  - glue:StartJobRun
                  - glue:GetJobRun
                  - glue:GetJobRuns
                  - glue:BatchStopJobRun
                Effect: Allow
                Resource: "*"
              - Action: s3:ListAllMyBuckets
                Effect: Allow
                Resource: "*"
                Sid: AllowS3List
              - Action: s3:ListBucket
                Effect: Allow
                Resource:
                  Fn::Join:
                    - ""
                    - - "arn:aws:s3:::"
                      - Ref: ResourcePrefix
                      - "-"
                      - Ref: Environment
                      - "-"
                      - Ref: AWS::AccountId
                      - -logs
                Sid: AllowListCloudTrailBucket
              - Action: lambda:InvokeFunction
                Effect: Allow
                Resource:
                  - Fn::Join:
                      - ""
                      - - "arn:aws:lambda:"
                        - Ref: AWS::Region
                        - ":"
                        - Ref: AWS::AccountId
                        - ":function:"
                        - Ref: CountCloudTrailFilesLambda644EE3FF
                  - Fn::Join:
                      - ""
                      - - "arn:aws:lambda:"
                        - Ref: AWS::Region
                        - ":"
                        - Ref: AWS::AccountId
                        - ":function:"
                        - Ref: GetLastDaysCloudTrailLambdaF38D874C
                  - Fn::Join:
                      - ""
                      - - "arn:aws:lambda:"
                        - Ref: AWS::Region
                        - ":"
                        - Ref: AWS::AccountId
                        - ":function:"
                        - Ref: FindMaxFileCountCloudTrailLambdaA17D6230
            Version: "2012-10-17"
          PolicyName:
            Fn::Join:
              - ""
              - - Ref: ResourcePrefix
                - "-"
                - Ref: Environment
                - -step-functionPolicy
      RoleName:
        Fn::Join:
          - ""
          - - nfl-dna-gridiron-sr-
            - Ref: ResourcePrefix
            - "-"
            - Ref: Environment
            - -step-function
    Metadata:
      aws:cdk:path: CloudTrailWithKmsStack/CloudTrailLogsStepFunction/nfl-dna-gridiron-sr-CloudTrailLogsStepFunction/Resource
  CloudTrailLogsStepFunctionnfldnagridironsrCloudTrailLogsStepFunctionDefaultPolicy1EFED7EE:
    Type: AWS::IAM::Policy
    Properties:
      PolicyDocument:
        Statement:
          - Action:
              - logs:CreateLogDelivery
              - logs:GetLogDelivery
              - logs:UpdateLogDelivery
              - logs:DeleteLogDelivery
              - logs:ListLogDeliveries
              - logs:PutResourcePolicy
              - logs:DescribeResourcePolicies
              - logs:DescribeLogGroups
            Effect: Allow
            Resource: "*"
          - Action:
              - xray:PutTraceSegments
              - xray:PutTelemetryRecords
              - xray:GetSamplingRules
              - xray:GetSamplingTargets
            Effect: Allow
            Resource: "*"
        Version: "2012-10-17"
      PolicyName: CloudTrailLogsStepFunctionnfldnagridironsrCloudTrailLogsStepFunctionDefaultPolicy1EFED7EE
      Roles:
        - Ref: CloudTrailLogsStepFunctionnfldnagridironsrCloudTrailLogsStepFunctionE1FB6739
    Metadata:
      aws:cdk:path: CloudTrailWithKmsStack/CloudTrailLogsStepFunction/nfl-dna-gridiron-sr-CloudTrailLogsStepFunction/DefaultPolicy/Resource
  CloudTrailLogsStepFunction181E11D9:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      DefinitionString: |-
        {
            "Comment": "Run Glue jobs to process CloudTrail logs with DPU based on Lambda file count per prefix - Simplified with recursive prefix discovery",
            "StartAt": "CheckCloudTrailPathExists",
            "States": {
                "CheckCloudTrailPathExists": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::aws-sdk:s3:listObjectsV2",
                    "Parameters": {
                        "Bucket": "sandbox-628611016434-cloudtrail-logs-bucket",
                        "Prefix": "raw-cloudtrail-logs/AWSLogs/628611016434/CloudTrail/",
                        "MaxKeys": 1
                    },
                    "Next": "PathExistsCheck",
                    "ResultPath": "$.pathCheckResult",
                    "Catch": [
                        {
                            "ErrorEquals": [
                                "States.ALL"
                            ],
                            "Next": "SkipProcessing",
                            "ResultPath": "$.pathCheckError"
                        }
                    ]
                },
                "PathExistsCheck": {
                    "Type": "Choice",
                    "Choices": [
                        {
                            "Variable": "$.pathCheckResult.KeyCount",
                            "NumericGreaterThan": 0,
                            "Next": "GetAllDayPrefixes"
                        }
                    ],
                    "Default": "SkipProcessing"
                },
                "GetAllDayPrefixes": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::lambda:invoke",
                    "Parameters": {
                        "FunctionName": "get-last-days-cloud-trail-lambda",
                        "Payload": {
                            "bucket_name": "sandbox-628611016434-cloudtrail-logs-bucket",
                            "base_prefix": "raw-cloudtrail-logs/AWSLogs/628611016434/CloudTrail/"
                        }
                    },
                    "ResultPath": "$.dayPrefixesResult",
                    "Next": "CheckIfPrefixesFound"
                },
                "CheckIfPrefixesFound": {
                    "Type": "Choice",
                    "Choices": [
                        {
                            "Variable": "$.dayPrefixesResult.Payload.total_count",
                            "NumericGreaterThan": 0,
                            "Next": "ProcessDayPrefixes"
                        }
                    ],
                    "Default": "SkipProcessing"
                },
                "ProcessDayPrefixes": {
                    "Type": "Map",
                    "ItemsPath": "$.dayPrefixesResult.Payload.day_prefixes",
                    "MaxConcurrency": 10,
                    "ItemSelector": {
                        "Prefix.$": "$$.Map.Item.Value"
                    },
                    "Iterator": {
                        "StartAt": "CountFilesInPrefix",
                        "States": {
                            "CountFilesInPrefix": {
                                "Type": "Task",
                                "Resource": "arn:aws:states:::lambda:invoke",
                                "Parameters": {
                                    "FunctionName": "count-cloud-trail-files-lambda",
                                    "Payload": {
                                        "bucket_name": "sandbox-628611016434-cloudtrail-logs-bucket",
                                        "prefix.$": "$.Prefix"
                                    }
                                },
                                "ResultPath": "$.fileCountResult",
                                "Next": "CalculateDPUFromFileCount"
                            },
                            "CalculateDPUFromFileCount": {
                                "Type": "Choice",
                                "Choices": [
                                    {
                                        "Variable": "$.fileCountResult.Payload.file_count",
                                        "NumericLessThan": 1000,
                                        "Next": "SetDPU2FromLambda"
                                    },
                                    {
                                        "Variable": "$.fileCountResult.Payload.file_count",
                                        "NumericLessThan": 5000,
                                        "Next": "SetDPU5FromLambda"
                                    },
                                    {
                                        "Variable": "$.fileCountResult.Payload.file_count",
                                        "NumericLessThan": 10000,
                                        "Next": "SetDPU10FromLambda"
                                    }
                                ],
                                "Default": "SetDPU20FromLambda"
                            },
                            "SetDPU2FromLambda": {
                                "Type": "Pass",
                                "Parameters": {
                                    "fileCount.$": "$.fileCountResult.Payload.file_count",
                                    "dpuCount": 2,
                                    "prefix.$": "$.Prefix",
                                    "source": "lambda-file-count"
                                },
                                "Next": "RunGlueJob"
                            },
                            "SetDPU5FromLambda": {
                                "Type": "Pass",
                                "Parameters": {
                                    "fileCount.$": "$.fileCountResult.Payload.file_count",
                                    "dpuCount": 5,
                                    "prefix.$": "$.Prefix",
                                    "source": "lambda-file-count"
                                },
                                "Next": "RunGlueJob"
                            },
                            "SetDPU10FromLambda": {
                                "Type": "Pass",
                                "Parameters": {
                                    "fileCount.$": "$.fileCountResult.Payload.file_count",
                                    "dpuCount": 10,
                                    "prefix.$": "$.Prefix",
                                    "source": "lambda-file-count"
                                },
                                "Next": "RunGlueJob"
                            },
                            "SetDPU20FromLambda": {
                                "Type": "Pass",
                                "Parameters": {
                                    "fileCount.$": "$.fileCountResult.Payload.file_count",
                                    "dpuCount": 20,
                                    "prefix.$": "$.Prefix",
                                    "source": "lambda-file-count"
                                },
                                "Next": "RunGlueJob"
                            },
                            "RunGlueJob": {
                                "Type": "Task",
                                "Resource": "arn:aws:states:::glue:startJobRun.sync",
                                "Parameters": {
                                    "JobName": "infra_glue_transform_cloudtrail_logs",
                                    "NumberOfWorkers.$": "$.dpuCount",
                                    "WorkerType": "G.1X",
                                    "Arguments": {
                                        "--retention_days_for_processed_logs": "30",
                                        "--log_level": "INFO",
                                        "--account_id": "628611016434",
                                        "--database_name": "cloudtrail_logs",
                                        "--input_path": "s3://sandbox-628611016434-cloudtrail-logs-bucket/raw-cloudtrail-logs/",
                                        "--job-language": "python",
                                        "--datalake-formats": "iceberg",
                                        "--crawler_role": "arn:aws:iam::628611016434:role/nfl-dna-gridiron-su-glue-cloudtrail-sandbox",
                                        "--output_path": "s3://sandbox-628611016434-cloudtrail-logs-bucket/processed-cloudtrail-logs/",
                                        "--file_count.$": "States.JsonToString($.fileCount)",
                                        "--prefix.$": "$.prefix",
                                        "--count_source.$": "$.source"
                                    }
                                },
                                "Retry": [
                                    {
                                        "ErrorEquals": [
                                            "States.TaskFailed"
                                        ],
                                        "IntervalSeconds": 30,
                                        "MaxAttempts": 3,
                                        "BackoffRate": 2
                                    }
                                ],
                                "End": true
                            }
                        }
                    },
                    "Next": "ProcessingComplete"
                },
                "SkipProcessing": {
                    "Type": "Pass",
                    "Parameters": {
                        "status": "SKIPPED",
                        "message": "CloudTrail logs path does not exist or no prefixes found, skipping processing"
                    },
                    "End": true
                },
                "ProcessingComplete": {
                    "Type": "Pass",
                    "Parameters": {
                        "message": "All CloudTrail Glue jobs completed",
                        "results.$": "$"
                    },
                    "End": true
                }
            }
        }
      LoggingConfiguration:
        Destinations:
          - CloudWatchLogsLogGroup:
              LogGroupArn:
                Fn::GetAtt:
                  - CloudTrailLogsStepFunctionCloudTrailLogsStepFunctionLogGroupD3F5E32B
                  - Arn
        IncludeExecutionData: true
        Level: ALL
      RoleArn:
        Fn::GetAtt:
          - CloudTrailLogsStepFunctionnfldnagridironsrCloudTrailLogsStepFunctionE1FB6739
          - Arn
      StateMachineName:
        Fn::Join:
          - ""
          - - Ref: ResourcePrefix
            - "-"
            - Ref: Environment
            - -step-function
      TracingConfiguration:
        Enabled: true
    DependsOn:
      - CloudTrailLogsStepFunctionnfldnagridironsrCloudTrailLogsStepFunctionDefaultPolicy1EFED7EE
      - CloudTrailLogsStepFunctionnfldnagridironsrCloudTrailLogsStepFunctionE1FB6739
    UpdateReplacePolicy: Delete
    DeletionPolicy: Delete
    Metadata:
      aws:cdk:path: CloudTrailWithKmsStack/CloudTrailLogsStepFunction/CloudTrailLogsStepFunction/Resource
  CloudTrailLogsStepFunctionEventsRoleB70B4F17:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service: events.amazonaws.com
        Version: "2012-10-17"
    Metadata:
      aws:cdk:path: CloudTrailWithKmsStack/CloudTrailLogsStepFunction/CloudTrailLogsStepFunction/EventsRole/Resource
  CloudTrailLogsStepFunctionEventsRoleDefaultPolicyF74BC76F:
    Type: AWS::IAM::Policy
    Properties:
      PolicyDocument:
        Statement:
          - Action: states:StartExecution
            Effect: Allow
            Resource:
              Ref: CloudTrailLogsStepFunction181E11D9
        Version: "2012-10-17"
      PolicyName: CloudTrailLogsStepFunctionEventsRoleDefaultPolicyF74BC76F
      Roles:
        - Ref: CloudTrailLogsStepFunctionEventsRoleB70B4F17
    Metadata:
      aws:cdk:path: CloudTrailWithKmsStack/CloudTrailLogsStepFunction/CloudTrailLogsStepFunction/EventsRole/DefaultPolicy/Resource
  CloudTrailLogsEventBridgeRuleCloudTrailLogsEventBridgeRuleRole5565E950:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service: events.amazonaws.com
        Version: "2012-10-17"
    Metadata:
      aws:cdk:path: CloudTrailWithKmsStack/CloudTrailLogsEventBridgeRule/CloudTrailLogsEventBridgeRuleRole/Resource
  CloudTrailLogsEventBridgeRuleCloudTrailLogsEventBridgeRuleRule73CEB773:
    Type: AWS::Events::Rule
    Properties:
      ScheduleExpression: cron(0 23 ? * SUN *)
      State: ENABLED
      Targets:
        - Arn:
            Ref: CloudTrailLogsStepFunction181E11D9
          Id: Target0
          RoleArn:
            Fn::GetAtt:
              - CloudTrailLogsStepFunctionEventsRoleB70B4F17
              - Arn
    Metadata:
      aws:cdk:path: CloudTrailWithKmsStack/CloudTrailLogsEventBridgeRule/CloudTrailLogsEventBridgeRuleRule/Resource
  AllEventsTrailC137AB2D:
    Type: AWS::CloudTrail::Trail
    Properties:
      EnableLogFileValidation: true
      EventSelectors:
        - IncludeManagementEvents: true
          ReadWriteType: All
        - DataResources:
            - Type: AWS::S3::Object
              Values:
                - Fn::Join:
                    - ""
                    - - Fn::GetAtt:
                          - CloudTrailLogsBucketF4E95F70
                          - Arn
                      - /
                - Fn::Join:
                    - ""
                    - - "arn:"
                      - Ref: AWS::Partition
                      - :s3:::test-bucket/
          IncludeManagementEvents: true
          ReadWriteType: All
      IncludeGlobalServiceEvents: true
      IsLogging: true
      IsMultiRegionTrail: true
      KMSKeyId:
        Fn::GetAtt:
          - CloudTrailLogsKey72128003
          - Arn
      S3BucketName:
        Ref: CloudTrailLogsBucketF4E95F70
      S3KeyPrefix: raw-cloudtrail-logs
    DependsOn:
      - CloudTrailLogsBucketPolicyF40858DB
    Metadata:
      aws:cdk:path: CloudTrailWithKmsStack/AllEventsTrail/Resource
  CDKMetadata:
    Type: AWS::CDK::Metadata
    Properties:
      Analytics: v2:deflate64:H4sIAAAAAAAA/11R0W7CMAz8Ft6DoUNi2tug0iaxIVVl78hNQ8maJlWcgFCUf5/SFoH2dHe+s2I7LxCy1wyWM7zSnNftXMkKwsEhb1l+0gVa7IQTluGVjqHtCMKXuCUrwUZJpCQGEhmtIGw9b4VLxYmNUBgl+e1RnvQotkgiMokdhNIokVIDPppGll44IpFwBJsErFFeQH7SO1MxhV1VI4QPr7mTRqe+O49MmYYgfJvm0xrfJ+/OIyMn+tOUpGF9J/bIz1IPszzryMRFaEcQSj9N6pWIjCvja2dRKgg/CZI1kBhZ7smZrhRkvOVj0xPfY99L3fxLFdZcZC1sug0blj04bFLuuTc3upbjgtk6g2yOqj8jLGfv04cuEqYrTc7OVJEVN3c2erGCN1jPfknKufXayU5AOeIfoogKcBcCAAA=
    Metadata:
      aws:cdk:path: CloudTrailWithKmsStack/CDKMetadata/Default
    Condition: CDKMetadataAvailable
Mappings:
  LatestNodeRuntimeMap:
    af-south-1:
      value: nodejs20.x
    ap-east-1:
      value: nodejs20.x
    ap-northeast-1:
      value: nodejs20.x
    ap-northeast-2:
      value: nodejs20.x
    ap-northeast-3:
      value: nodejs20.x
    ap-south-1:
      value: nodejs20.x
    ap-south-2:
      value: nodejs20.x
    ap-southeast-1:
      value: nodejs20.x
    ap-southeast-2:
      value: nodejs20.x
    ap-southeast-3:
      value: nodejs20.x
    ap-southeast-4:
      value: nodejs20.x
    ap-southeast-5:
      value: nodejs20.x
    ap-southeast-7:
      value: nodejs20.x
    ca-central-1:
      value: nodejs20.x
    ca-west-1:
      value: nodejs20.x
    cn-north-1:
      value: nodejs18.x
    cn-northwest-1:
      value: nodejs18.x
    eu-central-1:
      value: nodejs20.x
    eu-central-2:
      value: nodejs20.x
    eu-isoe-west-1:
      value: nodejs18.x
    eu-north-1:
      value: nodejs20.x
    eu-south-1:
      value: nodejs20.x
    eu-south-2:
      value: nodejs20.x
    eu-west-1:
      value: nodejs20.x
    eu-west-2:
      value: nodejs20.x
    eu-west-3:
      value: nodejs20.x
    il-central-1:
      value: nodejs20.x
    me-central-1:
      value: nodejs20.x
    me-south-1:
      value: nodejs20.x
    mx-central-1:
      value: nodejs20.x
    sa-east-1:
      value: nodejs20.x
    us-east-1:
      value: nodejs20.x
    us-east-2:
      value: nodejs20.x
    us-gov-east-1:
      value: nodejs18.x
    us-gov-west-1:
      value: nodejs18.x
    us-iso-east-1:
      value: nodejs18.x
    us-iso-west-1:
      value: nodejs18.x
    us-isob-east-1:
      value: nodejs18.x
    us-west-1:
      value: nodejs20.x
    us-west-2:
      value: nodejs20.x
Conditions:
  CDKMetadataAvailable:
    Fn::Or:
      - Fn::Or:
          - Fn::Equals:
              - Ref: AWS::Region
              - af-south-1
          - Fn::Equals:
              - Ref: AWS::Region
              - ap-east-1
          - Fn::Equals:
              - Ref: AWS::Region
              - ap-northeast-1
          - Fn::Equals:
              - Ref: AWS::Region
              - ap-northeast-2
          - Fn::Equals:
              - Ref: AWS::Region
              - ap-northeast-3
          - Fn::Equals:
              - Ref: AWS::Region
              - ap-south-1
          - Fn::Equals:
              - Ref: AWS::Region
              - ap-south-2
          - Fn::Equals:
              - Ref: AWS::Region
              - ap-southeast-1
          - Fn::Equals:
              - Ref: AWS::Region
              - ap-southeast-2
          - Fn::Equals:
              - Ref: AWS::Region
              - ap-southeast-3
      - Fn::Or:
          - Fn::Equals:
              - Ref: AWS::Region
              - ap-southeast-4
          - Fn::Equals:
              - Ref: AWS::Region
              - ca-central-1
          - Fn::Equals:
              - Ref: AWS::Region
              - ca-west-1
          - Fn::Equals:
              - Ref: AWS::Region
              - cn-north-1
          - Fn::Equals:
              - Ref: AWS::Region
              - cn-northwest-1
          - Fn::Equals:
              - Ref: AWS::Region
              - eu-central-1
          - Fn::Equals:
              - Ref: AWS::Region
              - eu-central-2
          - Fn::Equals:
              - Ref: AWS::Region
              - eu-north-1
          - Fn::Equals:
              - Ref: AWS::Region
              - eu-south-1
          - Fn::Equals:
              - Ref: AWS::Region
              - eu-south-2
      - Fn::Or:
          - Fn::Equals:
              - Ref: AWS::Region
              - eu-west-1
          - Fn::Equals:
              - Ref: AWS::Region
              - eu-west-2
          - Fn::Equals:
              - Ref: AWS::Region
              - eu-west-3
          - Fn::Equals:
              - Ref: AWS::Region
              - il-central-1
          - Fn::Equals:
              - Ref: AWS::Region
              - me-central-1
          - Fn::Equals:
              - Ref: AWS::Region
              - me-south-1
          - Fn::Equals:
              - Ref: AWS::Region
              - sa-east-1
          - Fn::Equals:
              - Ref: AWS::Region
              - us-east-1
          - Fn::Equals:
              - Ref: AWS::Region
              - us-east-2
          - Fn::Equals:
              - Ref: AWS::Region
              - us-west-1
      - Fn::Equals:
          - Ref: AWS::Region
          - us-west-2

